/* Side Bar Container */
.sidebar-container {
    display: flex;
    flex-shrink: 0;
}

/* Side Panel */
#sidePanel {
    width: 250px;
    background: #f9fafb;
    border-left: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.2s ease-in-out, border-left 0.2s ease-in-out;
}

#sidePanel.is-closed {
    width: 0;
    border-left: none;
}

#sidePanelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
    flex-shrink: 0;
}

#sidePanelTitle {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #e5e5e5;
    white-space: nowrap;
}

#sidePanelContent {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

.side-panel-pane {
    display: none;
    height: 100%;
    overflow-y: auto;
}

.side-panel-pane.active {
    display: flex; /* Use flex to allow children like file-list to grow */
    flex-direction: column;
}